@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Plus Jakarta Sans', sans-serif;
}

.font-serif {
  font-family: 'Playfair Display', serif;
}

img {
  image-rendering: auto;
  image-rendering: -webkit-optimize-contrast;
}
